#battle-system {
    background-color: black; /*#0020d0;*/
    font-family: monospace;
    font-weight: bold;
    color: white;
}

table.menu, div.wordbox {
    color: white;
    font-weight: bold;
    border-color: white;
    border-style: ridge;
    border-width: 3px;
    padding: 1em;
    
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
